#myStack-content {
  padding: 4% 0;
  background-color: rgba(0, 0, 0, 0.8);
  .logo-container {
    margin: 0 auto 4%;
    width: 80%;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 4px 2px 2px #ccc;
    border: none !important;
    h4 {
      font-size: 2em;
      letter-spacing: 0.2em;
      font-weight: bold;
      padding-top: 3%;
      text-align: center;
      color: rgba(0, 0, 0, 0.8);
    }
    border: 1px solid black;
    margin: 0 auto 4%;
    width: 80%;
    background-color: #FFF;

      .logo {
        transform: scale(0.6);
        transition: all .2s ease-in-out;
        &:hover {
          transform: scale(0.8);
        }
      
    }
  }
  #myStackBackToTop {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #090909;
    height: 50px;
    font-size: larger;
    letter-spacing: 2px;
    background-color: #ef1313;
  }
}

@media only screen and (max-width: 384px) {
  /* Styles */
  #myStack-content {
    #myStackBackToTop {
      display: block !important;
    }
  }
}