#myStack-content {

  .logo-container{
    border: 1px solid black;
    margin: 0 auto;
    width: 90%;
    .logo{
     
    }
  }
    #myStackBackToTop {
      display: none;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      color: #090909;
      height: 50px;
      font-size: larger;
      letter-spacing: 2px;
      background-color: #ef1313;
    }

}

@media only screen and (max-width: 384px) {
  /* Styles */
  #myStack-content {

    #myStackBackToTop{
      display: block !important;
    }
  }
}