#nav-content {
    background-color: rgba(0, 0, 0, 0.8);
                   color: #fff;
    .navbar {
        margin-bottom: 0 !important;
        border-radius: 0;
        .navbar-header {
            margin: 0px 15% 0 5%;
            float: left;
            .navbar-brand {
 
                font-size: 2em;
            }
        }
        .navMenu {
            font-size: 1.5em;
            letter-spacing: 0.05em;
        }
    }
}

@media only screen and (max-width: 384px) {
    /* Styles */
    #nav-content {
        .navbar {
            padding-top: 20px;
            .navbar-header {
                float: none;
                margin-left: 24%;
            }
            .navbar-nav {
                margin-left: 10px;
            }
            ul li {
                float: left;
                width: 33%;
                text-align: center;
            }
        }
    }
}
