/* line 1, ../../app/styles/myProject.scss */
#myProject-content {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  color: #fff;
  padding: 2%;
  letter-spacing: 0.1em;
  font-size: 2em;
}
/* line 8, ../../app/styles/myProject.scss */
#myProject-content h4 {
  text-align: center;
  margin-top: 20px;
}
/* line 13, ../../app/styles/myProject.scss */
#myProject-content #myProjectBackToTop {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #090909;
  height: 50px;
  font-size: larger;
  letter-spacing: 2px;
  background-color: #ef1313;
}

@media only screen and (max-width: 384px) {
  /* line 29, ../../app/styles/myProject.scss */
  #myProject-content {
    display: block !important;
  }
}