/* line 1, ../../app/styles/nav.scss */
#nav-content {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
/* line 4, ../../app/styles/nav.scss */
#nav-content .navbar {
  margin-bottom: 0 !important;
  border-radius: 0;
}
/* line 7, ../../app/styles/nav.scss */
#nav-content .navbar .navbar-header {
  margin: 0px 15% 0 5%;
  float: left;
}
/* line 10, ../../app/styles/nav.scss */
#nav-content .navbar .navbar-header .navbar-brand {
  font-size: 2em;
}
/* line 15, ../../app/styles/nav.scss */
#nav-content .navbar .navMenu {
  font-size: 1.5em;
  letter-spacing: 0.05em;
}

@media only screen and (max-width: 420px) {
  /* Styles */
  /* line 25, ../../app/styles/nav.scss */
  #nav-content .navbar {
    padding-top: 20px;
  }
  /* line 27, ../../app/styles/nav.scss */
  #nav-content .navbar .navbar-header {
    float: none;
    margin: auto;
  }
  /* line 30, ../../app/styles/nav.scss */
  #nav-content .navbar .navbar-header .navbar-brand {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  /* line 35, ../../app/styles/nav.scss */
  #nav-content .navbar .navbar-nav {
    margin-left: 10px;
  }
  /* line 38, ../../app/styles/nav.scss */
  #nav-content .navbar ul li {
    float: left;
    width: 50%;
    text-align: center;
  }
}