<div id="home-content">
<div id="home-header">
  <h4>Prajwal Nayak</h4>
    <ul class="nav navbar-nav">
      <li clas="navMenu" ng-class="{ active: isCurrentPath('/myStack') }"><a ui-sref="myStack">My stack</a></li>
      <li clas="navMenu" ng-class="{ active: isCurrentPath('/tech') }"><a ui-sref="tech">My Project</a></li>
      <li clas="navMenu" ng-class="{ active: isCurrentPath('/sports') }"><a ui-sref="sports">My Resume</a></li>
    </ul>
</div>

<div id="home-hacker">
  <img src="picture/Prajwal.jpg">
  <div id="home-hackerInto">
    <h4>Hackers Hero</h4>
    <p>Banaglore based Angular, Java full statck developer</p>
      <ul>
        <li><a href="https://github.com/theprajwalnayak/" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/theprajwalnayak//" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://twitter.com/ThePrajwalNayak/" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="http://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i> </a></li>
      </ul>
  </div>
</div>
</div>
