<!-- NAVIGATION -->
<div id="nav-content">
  <nav class="navbar navbar-inverse" role="navigation" ng-controller="navController">
    <div class="navbar-header" >
      <a class="navbar-brand" ui-sref="home">P N</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="navMenu" ng-class="{ active: isCurrentPath('/myStack') }"><a ui-sref="myStack">My stack</a></li>
      <li class="navMenu" ng-class="{ active: isCurrentPath('/myProject') }"><a ui-sref="myProject">My Project</a></li>
     <!-- <li class="navMenu" ng-class="{ active: isCurrentPath('/sports') }"><a ui-sref="sports">My Resume</a></li>-->
    </ul>
  </nav> 

</div>